/*
   VISIBILITY
*/


.vis          { visibility: visible; }
.vis-hidden   { visibility: hidden; }
.vis-collapse { visibility: collapse; }

.vis-bf-vis {   backface-visibility: visible; }
.vis-bf-hid {   backface-visibility: hidden; }

/*
    Text that is hidden but accessible
    Ref: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (min-width: 48em) {
  .vis-s          { visibility: visible; }
  .vis-hidden-s   { visibility: hidden; }
  .vis-collapse-s { visibility: collapse; }
  .vis-bf-vis-s {   backface-visibility: visible; }
  .vis-bf-hid-s {   backface-visibility: hidden; }
  .clip-s {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media screen and (min-width:48em) and (max-width: 64em) {
  .vis-m          { visibility: visible; }
  .vis-hidden-m   { visibility: hidden; }
  .vis-collapse-m { visibility: collapse; }
  .vis-bf-vis-m { backface-visibility: visible; }
  .vis-bf-hid-m { backface-visibility: hidden; }
  .clip-m {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media screen and (min-width: 64em) {
  .vis-l          { visibility: visible; }
  .vis-hidden-l   { visibility: hidden; }
  .vis-collapse-l { visibility: collapse; }
  .vis-bf-vis-l { backface-visibility: visible; }
  .vis-bf-hid-l { backface-visibility: hidden; }
  .clip-l {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

